.Texto p {
    font-size: 2ch;
    font-family: Arial;
}

a:link,
a:visited {
    background-color: #f44336;
    width: 15ch;
    height: auto;
    border: 3px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3ch;
    font-family: 'Lucida Sans';
}

a:hover,
a:active {
    background-color: red;
}